.landing{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

@media screen and (min-width: 500px){
    .landing {
        display: flex;
        flex-direction: row;
    }
}

