@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');
:root {

    --thin: 'Work Sans', sans-serif;

    --darkLightBlue: #92BADD;
    --darkBlue: #2c5784;
    --shadowBlue: #254e70;
    --secondaryColor: #2c578a;
    --accent: #861657;
    --lightBlue: #bdd5ea;
    --white: #f7f7ff;
    font-weight: 300;

}

body{
    overflow: auto;
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    letter-spacing: 1.5px;
}

main{
    padding: 10px;
    width: auto;
}

#chessLive{
    word-wrap: break-word;
    font-size: 5rem;
    font-weight: 100;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

.nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: fit-content;
    width: inherit;
    margin-top: 0.5rem;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
}

.nav-link {
    padding: 5px;
    border-bottom: 2px solid;
}

.nav-link:hover {
    border-bottom-color: var(--secondaryColor);
    transition: border-bottom-color 500ms ease-in;
}

#github a:hover{
    color: var(--secondaryColor);
    transition: color 500ms ease-in;
}

#login{
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    border-radius: 5px;
}

#login a:nth-child(1) {
    padding-right: 7px;
    border-right: 1px solid #eee;
}

#login:hover {
    background-color: var(--shadowBlue);
    border-color: var(--shadowBlue);
    transition: all 500ms ease-in;
}

button{
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}

button:hover{
    cursor: pointer;
}

button:focus{
    border: none;
}

.wrapper {
    display:flex;
    justify-content: space-between;
    /*     gap: 35px; */
    height: 125px;
}

.info-wrapper {
    display: flex;
    margin-bottom: 10px;
    height: 20px;
    justify-content: space-between;

}

.tiny {
    font-size: .65rem;
    letter-spacing: unset;
    margin:0;
    display: none;
}


.time-control {
    box-sizing: border-box;
    padding:  30px 20px;
    border: 2px solid var(--secondaryColor);
    border-radius: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    text-decoration: none;
    width: 55px;
    height: 100%;
}

.time-control:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
    transition: all ease-in 200ms;
}

@media screen and (min-width: 480px) {
    body{
        padding: 0 5px;
    }

    .time-control{
        width: 60px;
    }

    .tiny{
        font-size: .9rem;
    }
}

@media screen and (min-width: 600px){

    .nav{
        font-size: 1.1rem;
        margin-top: 5px;
    }

    .time-control{
        /*         line-height: .5rem; */
        padding: 20px 20px;
        height: 60px;
        width: 125px;
    }
}

@media screen and (min-width: 900px){

    #info{
        display: none;
    }

    .tiny{
        display: block !important;
        text-align: center;
        margin: 0 auto;

    }
    .wrapper{
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px){

    .nav{
        font-size: 1.1rem;
        margin-top: 7px;
    }


    #chessLive{
        font-size: 6rem;
    }

    .time-control{
        width: 200px;
    }
}