<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <script src="https://kit.fontawesome.com/9162a0353b.js" crossorigin="anonymous"></script>
    <script defer src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script defer src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script defer th:src="@{/js/landing_bundle/landing.js}"></script>

    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <title>ChessLive</title>

    <style>
        html, body {
            min-height: 100%;
            font-family: var(--thin);
            margin: 0;
        }

        body {
            background-image: url("/images/piotr-makowski-27LH_0jXKYI-unsplash.jpg");
            background-size: cover;
            background-position: center;

        }

    </style>
</head>
<body>
<nav class="nav">
    <ul class="nav-links">
        <li class="nav-link" sec:authorize="isAuthenticated()">
            <a class="profile-link" target="_parent" th:href="@{'/user/' + ${session.user.username}}" th:text="${session.user.username}"></a>
        </li>
        <li id="github" class="nav-link">
            <a href="https://github.com/dcechano/ChessLive"><i class="fa fa-chess-queen"></i></a>
        </li>
        <li id="login" class="nav-link" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/signup}">Sign Up</a>
        </li>
        <li class="nav-link" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
<main>
    <h1 id="chessLive">Chess<br/>Live</h1>
    <div class="info-wrapper">
        <span id="info" class="fa fa-info-circle"></span>
        <small class="tiny">Pick a time control - start time + increment per move</small>
    </div>
    <section class="wrapper">
        <a class="time-control" th:each="control : ${T(com.example.reactchesslive.model.entity.TimeControl).values()}"
           th:text="${control.prettyCode()}" th:href="@{/new_game(time_control=${control.name})}"></a>
    </section>
</main>

</body>
</html>