<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <script src="https://kit.fontawesome.com/9162a0353b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <script defer th:src="@{/js/profile_bundle/profile.js}"></script>
    <title th:text="${username}"></title>

</head>
<body>

<nav class="nav">
    <ul class="nav-links">
        <li class="nav-link" sec:authorize="isAuthenticated()">
            <a class="profile-link" th:href="@{'/user/' + ${session.user.username}}" th:text="${session.user.username}"></a>
        </li>
        <li class="nav-link"><a th:href="@{/}">ChessLive</a></li>
        <li id="github" class="nav-link">
            <a href="https://github.com/dcechano/ChessLive"><i class="fa fa-chess-queen"></i></a>
        </li>
        <li class="nav-link" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </li>
        <li class="nav-link" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<div class="profile-wrapper">
    <aside class="about_me">
        <img th:src="@{/images/chalo-garcia-8EW9qpWZF7E-unsplash.jpg}" alt="">
        <p class="font">Hi! I like to play chess</p>
    </aside>

    <aside class="stats">

        <button class="collapsible"><span>Quick Stats</span><i class="fa fa-arrow-down"></i></button>
        <div class="quick_summary stat_wrapper">
            <p class="stat" th:text="${'Total Games: ' + stats.totalGames()}"></p>
            <p class="stat" th:text="${'Wins: ' + stats.totalWins()}"></p>
            <p class="stat" th:text="${'Losses: ' + stats.totalLosses()}"></p>
            <p class="stat" th:text="${'Draws: ' + stats.totalDraws()}"></p>
        </div>

        <button class="collapsible"><span>2 + 1</span><i class="fa fa-arrow-down"></i></button>
        <div id="twoP1Stats" class="stat_wrapper">
            <p  class="stat" th:text="${stats.twoPlus1Wins + ' Wins'}"></p>
            <p  class="stat"  th:text="${stats.twoPlus1Losses + ' Losses'}"></p>
            <p  class="stat" th:text="${stats.twoPlus1Draws + ' Draws'}"></p>
        </div>

        <button class="collapsible"><span>5 + 0</span><i class="fa fa-arrow-down"></i></button>
        <div id="fiveP0Stats" class="stat_wrapper">
            <p  class="stat" th:text="${stats.fivePlus0Wins + ' Wins'}"></p>
            <p  class="stat" th:text="${stats.fivePlus0Losses + ' Losses'}"></p>
            <p  class="stat" th:text="${stats.fivePlus0Draws + ' Draws'}"></p>
        </div>

        <button class="collapsible"><span>5 + 1</span><i class="fa fa-arrow-down"></i></button>
        <div id="fiveP5Stats" class="stat_wrapper">
            <p  class="stat" th:text="${stats.fivePlus5Wins + ' Wins'}"></p>
            <p  class="stat" th:text="${stats.fivePlus5Losses + ' Losses'}"></p>
            <p  class="stat" th:text="${stats.fivePlus5Draws + ' Draws'}"></p>
        </div>

        <button class="collapsible"><span>10 + 10</span><i class="fa fa-arrow-down"></i></button>
        <div id="tenP10Stats" class="stat_wrapper">
            <p  class="stat" th:text="${stats.tenPlus10Wins + ' Wins'}"></p>
            <p  class="stat" th:text="${stats.tenPlus10Losses + ' Losses'}"></p>
            <p  class="stat" th:text="${stats.tenPlus10Draws + ' Draws'}"></p>
        </div>
    </aside>

    <section class="games">
        <div class="game" th:each="game : ${games}">
            <a class="game_info player_summary" th:href="@{'/archive/' + ${game.id}}"
               th:text="${game.white.username} + ' v. ' + ${game.black.username}"></a>
            <a class="game_info" th:text="${game.timeControl.prettyCode()}"
               th:href="@{'/archive/' + ${game.id}}"></a>
            <p class="game_info result" th:text="${game.result}"></p>
        </div>
    </section>
</div>
</body>
</html>